{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules"    : false,
        "useBuiltIns": "usage",
        "targets"    : {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}],
    ["import", { "libraryName": "antd", "style": true }]
  ]
}
