{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 7"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "babel-plugin-syntax-dynamic-import",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}