# Folders to ignore
node_modules

# Editor directories and files to ignore
.DS_STORE
.DS_Store
.idea
.vscode
.prettierrc
.cache
.project
.settings
.tmproj
.gitignore
.editorconfig
*.esproj
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files to ignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Cache files to ignore
.yarn-cache
